<footer class="footer">
  <pre>
            ()
            /\
           |==|
           ====
            XX
           xXXx
           XXXX
           XXXX
           XXXX
          xXXXXx
          XXXXXX
          XXXXXX
         xXXXXXXx
         XXXXXXXX
        xXXXXXXXXx
        XXXXXXXXXX
       XXXXX  XXXXX
      xXXXX"  "XXXXx
     XXXXXxxxxxxXXXXX
   xXXXXX""""""""XXXXXx
  xXXXXXX"      "XXXXXXx
  </pre>

  <p>&copy; {{formatDate buildTime year="numeric"}} - All rights reserved</p>
</footer>
