<head>

	{{!-- Basic Page Needs
	–––––––––––––––––––––––––––––––––––––––––––––––––– --}}
	<meta charset="utf-8">
	<link rel="canonical" href="{{url}}">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="Language" content="en">
	<meta http-equiv="Content-Language" content="en">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

	{{!-- Meta with content
	–––––––––––––––––––––––––––––––––––––––––––––––––– --}}
	<title>CHANGE ME</title>
	<meta name="description" content="CHANGE ME">
	<meta name="author" content="CHANGE ME">

	{{!-- Facebook meta
	–––––––––––––––––––––––––––––––––––––––––––––––––– --}}
	<meta property="og:url" content="{{url}}">
	<meta property="og:type" content="website">
	<meta property="og:site_name" content="CHANGE ME">
	<meta property="og:email" content="CHANGE ME">
	<meta property="og:title" content="CHANGE ME">
	<meta property="og:description" content="CHANGE ME">
	<meta property="og:image" content="CHANGE ME">

	{{!-- Twitter meta
	–––––––––––––––––––––––––––––––––––––––––––––––––– --}}
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:site" content="CHANGE ME">
	<meta name="twitter:title" content="CHANGE ME">
	<meta name="twitter:description" content="CHANGE ME">
	<meta name="twitter:image:src" content="CHANGE ME">


	{{!-- Favicon
	–––––––––––––––––––––––––––––––––––––––––––––––––– --}}
	<link rel="icon" type="image/png" href="/favicon.ico">

	{{!-- CSS
	–––––––––––––––––––––––––––––––––––––––––––––––––– --}}
	<link rel="stylesheet" href="/css/all.min.css"/>

</head>
