<!DOCTYPE html>
<html lang="en">
	{{!-- Head section
	–––––––––––––––––––––––––––––––––––––––––––––––––– --}}
	{{> architecture/head}}
	<body>
		{{!-- Page header
		–––––––––––––––––––––––––––––––––––––––––––––––––– --}}
		{{> architecture/header}}

		{{!-- Page content
		–––––––––––––––––––––––––––––––––––––––––––––––––– --}}
		{{> @partial-block }}

		{{!-- Page footer
		–––––––––––––––––––––––––––––––––––––––––––––––––– --}}
		{{> architecture/footer}}

		{{!-- Scripts or foot elemnts
		–––––––––––––––––––––––––––––––––––––––––––––––––– --}}
		{{> architecture/foot}}

	</body>
</html>
