<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="./css/all.min.css"/>
</head>
<body>

	{{> header}}

	<img src="./images/JC.jpg" alt="Jacques Chirac">
	<div>
		<em>Last build: {{date}}</em>
	</div>

	{{> footer}}

	<script type="text/javascript" src="./js/all.min.js"></script>

</body>
</html>